	@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

	:root {
		--blue-dark: #192338;
		--blue: #2B3752;
		--green: #2E6E65;
		--lime: #86EE60;
		--white: #F4F7ED;
		--yellow: #FFE98A;
	}


	* {
		box-sizing: border-box;
	}

	html {
		height: 100vh;
		display: grid;
		place-items: center;
	}

	body {
		font-family: 'Red Hat Display', sans-serif;
		background-color: var(--blue-dark);
		color: var(--white);
		font-size: 32px;
	}

	#tog {
		margin-bottom: 20px;
	}

	#input,
	button {
		padding: 10px;
		margin-right: 4px;
		font-size: 16px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	ul li {
		background: #fff;
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		color: var(--blue-dark);
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	ul li button {

		margin-left: auto;
		background-color: var(--white);
		border: none;
		color: var(--blue);
		padding: .5rem .8rem;
	}

	ul li input {
		border: 4px solid var(--blue);
		height: 24px;
		width: 24px;
	}

	button {
		padding: .5rem 1rem;
		border: 4px solid var(--lime);
		color: var(--lime);
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		background-color: var(--blue);
		position: relative;
		display: inline-block;
		border-radius: 2px;
	}

	button:after {
		content: '';
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: var(--lime);
		z-index: -1;
		border-radius: 2px;
		transition-duration: .3s;
	}

	button:hover:after {
		opacity: 1;
		left: -8px;
		bottom: -8px;
	}

	.horloge {
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	#heure {
		font-family: monospace;
	}

	.add_task {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}

	.add_task input {
		width: 100%;
	}